<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">
        <a href="https://www.meijigakuin.ac.jp"><font color="#ffff00">明治学院大学</font></a><br>
        <img class="image" src="{{ site.logo | relative_url }}" width="500"><br>
        <font color="#ffffff">情報数理学部 情報数理学科</font>
      </h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <table>
        <tr>
          <th>
            <a href={{ "/index.html" | relative_url }}>Top</a>
          </th>
          <th>
            <a href={{ "/about.html" | relative_url }}>About</a>
          </th>
          <th>
            <a href={{ "/curriculum.html" | relative_url }}>カリキュラム</a>
          </th>
          <th>
            <a href={{ "/faculty.html" | relative_url }}>教員紹介</a>
          </th>
          <th>
            <a href={{ "/career.html" | relative_url }}>就職と進路</a>
          </th>
          <th>
            <a href={{ "/admissions.html" | relative_url }}>受験生の方へ</a>
          </th>
          <th>
            <a href={{ "/students.html" | relative_url }}>在校生の方へ</a>
          </th>
        </tr>
      </table>

      <h1>{{ page.name }} {{ page.position }}</h1>
      <h2>{{ page.eng_name }}</h2>
      <h3>学位</h3>
        {{ page.degree}}
      <h3>研究分野</h3>
        {{ page.field }}
      <h3>研究キーワード</h3>
      <table>
        <tr>
          {% for key in page.keywords %}
            <td>{{ key }}</td>
          {% endfor %}
        </tr>
      </table>

      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
